{% extends "music/_base.html" %}

{% block titlepage %}
    <b>گالری</b>
{% endblock %}

{% block mainContent %}
    {% if gallery %}
        {% for gallery in gallery %}
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                            <img src="{{ gallery.image.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">{{ gallery.text }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}