{% extends "music/_base.html" %}

{% block titlepage %}
    <b>سمفونی</b>
{% endblock %}

{% block mainContent %}

    {% if musiclist %}
        {% for music in musiclist %}
            <div class="col-md-2">
                <a class="text-decoration-none" href="/detail/{{ music.id }}">
                    <div class="imageBox" style="border-radius: 7px;">
                        <img src="{{ music.poster.url }}" style="border-radius: 3px;">
                        {{ music }}
                    </div>
                </a>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
