{% extends "music/_base.html" %}

{% block titlepage %}
    <b>لیست موسیقی</b>
{% endblock %}

{% block mainContent %}

    {% if musiclist %}
        {% for music in musiclist %}
            <div class="col-md-2">
                <a href="/music/detail/{{ music.id }}">
                    <div class="imageBox">
                        <img src="{{ music.poster.url }}">
                        {{ music }}
                    </div>
                </a>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
