{% extends "music/_base.html" %}

{% block titlepage %}
    <b>ورود</b>
{% endblock %}

{% block mainContent %}

    <div class="col-md-3"></div>

        <div class="col-md-6">

            <form action="" method="POST" class="form">
                {% csrf_token %}
                <h3 style="color: #fefdfd;">اطلاعات کاربری خود را وارد نمایید</h2>
                <p style="color: #fefdfd;">{{ messageerror }}</p>
                <label class="lable-control" style="color: #fefdfd;"><b>نام کاربری: </b></label>
                <input type="text" id="username" name="username" placeholder="نام کاربری خود را وارد نمایید" class="form-control">
                <label class="lable-control" style="color: #fefdfd;"><b> رمز عبور: </b></label>
                <input type="password" id="password" name="password" placeholder="رمز عبور  خود را وارد نمایید" class="form-control">

                <input type="submit" value="ورود" class="btn btn-outline-light btn-sm mt-2">
            </form> 

        </div>

    <div class="col-md-3"></div>

{% endblock %}
