{% extends "music/_base.html" %}

{% block titlepage %}
    <b>پروفایل</b>
{% endblock %}

{% block mainContent %}

    <div class="row">
        <div class="col-md-8">
            <p class="border" style="color: #fefdfd;background-color: rgb(15, 15, 15); border-radius: 10px;"> <span class="title"> <b>نام و نام خانوادگی:</span></b> {{ profile.user.get_full_name }}</p>
            <p class="border" style="color: #fefdfd;background-color: rgb(15, 15, 15); border-radius: 10px;"> <span class="title"> <b>جنسیت:</span></b> {{ profile.get_gender_display }}</p>
            <ul>
                <li><a class="btn btn-outline-light" href="/account/profileEdit">ویرایش</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <img src="{{ profile.profile.url }}" style="width:60%;height:auto">
        </div>
    </div>

{% endblock %}
