{% extends "music/_base.html" %}

{% block titlepage %} 
    <b>ویرایش پروفایل</b>
{% endblock%}

{% block mainContent %}

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mainborder">

            <div class="row">
                <div class="col-md-10">
                    <div>
                        
                        <p class="border" style="color: #fefdfd;background-color: rgb(15, 15, 15); border-radius: 10px;"> <span class="title">نام: </span>{{userEditForm.first_name}}  </p>
                        <p class="border" style="color: #fefdfd;background-color: rgb(15, 15, 15); border-radius: 10px;"> <span class="title"> نام خانوادگی: </span> {{userEditForm.last_name}} </p>
                        <p class="border" style="color: #fefdfd;background-color: rgb(15, 15, 15); border-radius: 10px;"> <span class="title">ایمیل: </span> {{userEditForm.email}} </p>
                        <p class="border" style="color: #fefdfd;background-color: rgb(15, 15, 15); border-radius: 10px;"> <span class="title">جنسیت: </span> {{ profileEditForm.gender }}</p>
                    
                    </div>
                </div>

                <div  class="col-md-2">
                    <div class="imageBox">
                        <img src="{{ profile.url }}">
                    </div>
                    {{ profileEditForm.profile }}
                </div>

           </div>

            <div class="bottonborder" style="background-color: rgb(10, 10, 10); border-radius: 15px;">
                <button type="submit" class="btn btn-outline-light">ذخیره</button>
            </div>

        </div>

    </form>
{% endblock%}
